.foodcard-container {
    position: relative;
    float: left;
    z-index: 1;
    width: 100%;
    height: 13.5rem;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.foodcard-body {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(236, 189, 236); /* linear-gradient(to right, rgb(236, 189, 236) 60%, rgb(236, 189, 236) 60%); */
    overflow: hidden;
}

.foodcard-body>div {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, black 50%, white 50%);
    -webkit-background-clip: text, border-box;
    background-clip: text, border-box;
    background-repeat: no-repeat;
    background-position: 100% top, 100% top;
    transition: background-position 0.4s;
    color: transparent;
}


.foodcard-body.transform-text-and-icon>div {
    background-position: 0% top, 0% top;
}

.foodcard-body.transform-text-and-icon>div>i {
    background-position: 0% top, 0% top;
}

.foodcard-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 192%;
    height: 100%;
    background: linear-gradient(to right, rgb(236, 189, 236), rgb(236, 189, 236) 2%, #2d2d2d 2%, #2d2d2d);
    transition: transform 0.4s;
    z-index: 2;
}
/* .foodcard-body:hover::before {
    transform: translateX(50%);
}  */

/* .before {
    position: absolute;
    top: 0;
    left: 0;
    width: 192%;
    height: 100%;
    background: linear-gradient(to right, rgb(236, 189, 236), rgb(236, 189, 236) 2%, #2d2d2d 2%, #2d2d2d);
    transition: transform 0.4s;
    z-index: 2;
}


.foodcard-body:hover .before {
    transform: translateX(50%);
} */

/* .transform-text-and-icon {
    background-position: 0% top, 0% top;
} */

.foodcard-body.transform-background::before {
    transform: translateX(55%);
}

@keyframes stripes {
    to {
        background-size: 200% 100%;
    }
}

.foodcard-body>div {
    position: relative;
}

.process {
    z-index: 4;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-items: center;
    margin-left: 1.5em;
    padding-top: 0.5rem;
}

.process>i {
    padding: 0 10px;
}



.food-name {
    z-index: 4;
    margin-left: 1.5rem;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.4rem;
}

.food-name>span {
    float: left;
    font-size: 1.38rem;
    font-weight: 600;
}

.food-price {
    z-index: 4;
    margin-left: 1.5rem;
    margin-bottom: 27%;
    width: 100%;
}

.food-price>span {
    float: left;
    color: #807f7f;
    font-size: 1.2rem;
    font-weight: 550;
}

.food-num {
    z-index: 4;
    height: fit-content;
    width: 97%;
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}

/* .food-num>span,
i {
    float: right;
} */

.food-num>span {
    width: 1em;
    margin-bottom: 4%;
    font-size: 1.7rem;
    font-weight: 500;
}


.food-num>i {
    font-size: 3rem;
    padding: 0 0.3em;
}
