.rec-container {
    position: relative;
    padding: 15px;
    width: 100%;
    flex: 1;
    border-radius: 10px;
    background-color: #555;
    font-family: 'Inter', sans-serif;
}

.header {
    font-size: 33px;
    font-weight: 500;
    width: inherit;
    padding-bottom: 15px;
    border-bottom: 2px dashed #b4b4b4;
}

.body {
    margin-top: 25px;
    height: 50px;
}

.body #total {
    float: left;
    font-size: 20px;
}

.body #price {
    float: right;
    font-size: 20px;
    font-weight: 500;
}

.payment-method {
    position: absolute;
    bottom: 85px;
    display: flex;
    flex-direction: column;
    width: 333px;
}

.methods {
    display: flex;
    width: inherit;
}

.column {
    width: 33.33%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 7px;
}

.column span {
    font-size: 15px;
}

.cash, .debit-card, .e-wallet {
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    height: 70px;
    width: 100%;
    transition: all 0.3s;
}

.cash:hover, .debit-card:hover, .e-wallet:hover {
    height: 70px;
    background-color: white;
    color: #555;
}

.place-order button {
    position: absolute;
    margin: 5px;
    border: none;
    bottom: 15px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #555;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    height: 60px;
    width: 333px;
}