*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#employee{
    border-collapse: collapse;
    width: 95%;
    margin: 100px 10px 0 15px;
    font-size: 17px;
}
  

#employee tr:hover{
    background-color: #ddd;
    color: black;
}
  

#employee th{
    width: 25%;
    height: 50px;
    padding: 11px;
    text-align: left;
    background-color: #111315;
    color: white;
    border-bottom: 1px solid white;
}


#employee td{
    padding: 20px;
}




